body{
    background-image: url(./Pictures/BTC.jpg);
}

.title {

    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: aliceblue;
    }


.Main{
    font-size: 30px;
    color: #eee;
}




.faq-section{
    margin: 40px 0;
}


.faq-section input,
.faq-section p{
    display: none;
}


.faq-section label+p{
    display: block;
    color: #FFFAFA	;
    font-size: .90em;
    transition: all .15s ease-out;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.faq-section input[type=checkbox]:checked~p{
    display: block;
    color: #FF00FF;
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 1 em;
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
}


.faq-section label{
    font-size: 2.0em;
    cursor: pointer;
    background: #eee;
    display: block;
    position: relative;
    padding: 7px 10px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-left: 3px solid #888;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    transition: all .15s ease-out;
}


.faq-section label::selection{
    background: none;
}

.faq-section label:hover{
    background: #f5f5f5;
}


.faq-section input[type=checkbox]:checked~label{
    border-color: #ff7f50;
    background: #f5deb4;
    background-image: linear-gradient(to bottom, #fff, #f5deb4);
    box-shadow: 0 0 1px rgba(0,0,0,.4);
}


.faq-section label::before{
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left-color: inherit;
}


.faq-section input[type=checkbox]:checked~label::before{
    border: 6px solid transparent;
    border-top-color: inherit;
    margin-top: -3px;
    right: 10px;
}

.FAQ {
   font-size: 50px;
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-display: block;
   color:black;
    
}

.Contact {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.torch {
    text-align: center;
    font-size: 0.95em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    

}